@model ComicBookGallery.Models.ComicBook
@using ComicBookGallery.Models

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = Model.DisplayText;
}
 
<h2>@Model.DisplayText</h2>

<div class="row">
    <div class="col-md-6">
        <div class="well">
            <h5><label>Series Title:</label> @Model.SeriesTitle</h5>
            <h5><label>Issue #:</label>@Model.IssueNumber</h5>
            <h5><label>Favorite:</label>
            @if(@Model.Favourite)
            {
                <span>Yes</span>
            }
            else
            {
                <span>No</span>
            }
            </h5>
            <h5>Artists:</h5>
            <div>
                <ul>
                    @foreach(Artist artist in Model.Artists)
                    {
                        <li>@artist.Role : @artist.Name</li>
                    }
                </ul>
            </div>
        </div>
        <h5>Description</h5>
            @Html.Raw(@Model.DescriptionHtml)
    </div>
    <div class="col-md-6">
        <img src="/Images/@Model.CoverImageFileName"
             alt=@Model.DisplayText class="img-responsive" />
    </div>
</div>

